/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
/*Nicole's*/
.inputEmail{
  color: white;
  font-weight: bolder;
}
.inputZip{
  color: white;
  font-weight: bolder;
}
.inputPassword{
  color: white;
  font-weight: bolder;
}
.divSwapAccountInfo{
  display: none;
}

/*END*/
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#failText {
  color:lightcoral; 
}

.updateDiv {
  margin-top: 50px; 
  margin-bottom: 50px; 
  font-size: 15pt; 
}

.devicesTop {
  margin-top: 50px; 
  margin-bottom: 50px; 
  font-size: 15pt; 
}